
a{
   color:#333 !important;
}


iframe{
    margin-right: 10px;
    margin-top: 10px;
}

h2{
    padding-top: -150px;
  font-family: 'Adca';
    font-size: 16pt;
    color: rgb(0, 104, 73);
}



footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 104, 73);
    color: white;
    
  }

  header{
    min-height: 150px;
    text-align: center;
    background-color: rgb(0, 104, 73);
}

.header-image {
  background-image: url('logo1.jpg');
  }

header > h1 {

    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

header>p{
  
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
   
}

nav{
    padding: 10px;
    text-align: center;
    background-color: rgb(63, 172, 87);
    font-family: 'arial';
    color: rgb(0, 104, 73);

}

nav > a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color:  rgb(0, 104, 73);
    color: white;
}

.video-wrap {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }

.iframe-container{
    position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
 margin-top: 10px

  }
  .iframe-container iframe{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  }

  .image-wrap {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }

  .image-wrap img {
    max-width:100%;
}

body main{
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  
  margin-bottom: 30px;

  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}




body{
  background-color: rgba(0, 104, 73, 40%);
    background-clip: content-box, padding-box;
}

.flag-wrap{

  height: 1px;
  margin: auto;
  margin-bottom: 0px; 
  display:inline
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


@font-face {
  font-family: 'Adca';
  src: url('fontes/Adca.ttf') format('truetype');
  font-style: normal;
}



@font-face {
  font-family: 'Love';
  src: url('fontes/BreeSerif-Regular.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}


@font-face {
  font-family: 'Chinese';
  src: url('fontes/NotoSansSC-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'khmer';
  src: url('fontes/NotoSerifKhmer_Condensed-Bold.ttf') format('truetype');
}


.navbardecima {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left,
.navbar-right{
  text-decoration: none;
}

.navbar-right {
  margin-left: auto;
  margin-right: 0px;
}


